body{
          background-color: antiquewhite;
} 
#clockContainer{
    position:relative;
    margin:auto;
    height:50vh;
    width:50vh;
    background:url(clock.png) no-repeat;
    background-size:100%;
}
#hour,#minute,#second{
    position:absolute;
    background:black;
    border-radius:10px;
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 25%;
    left: 47.9%;
    top: 25.5%;
}
#minute{
    width: 1.7%;
    height: 28%;
    left: 48.9%;
    top: 21.5%;
}
#second{
    width: 1.2%;
    height: 31%;
    left: 49.9%;
    top: 19%;
    
}
